Reading And Writing Data in Text Format (link with Google Colab)
[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/googlecolab/colabtools/blob/master/notebooks/colab-github-demo.ipynb)

In [132]:
import pandas as pd
import numpy as np

In [133]:
# !cat   /content/sample_data/california_housing_test.csv

In [134]:
# pd.read_csv("/content/sample_data/california_housing_test.csv").head(3)

In [135]:
# pd.read_csv("/content/sample_data/california_housing_test.csv",header= None) # by default it's none

In [136]:
data = pd.read_csv('G:\Data\grupo-bimbo-inventory-demand\producto_tabla\producto_tabla.csv')

In [137]:
data.head(10)

   Producto_ID                          NombreProducto
0            0                       NO IDENTIFICADO 0
1            9               Capuccino Moka 750g NES 9
2           41  Bimbollos Ext sAjonjoli 6p 480g BIM 41
3           53          Burritos Sincro 170g CU LON 53
4           72     Div Tira Mini Doradita 4p 45g TR 72
5           73       Pan Multigrano Linaza 540g BIM 73
6           98            Tostado Integral 180g WON 98
7           99                  Pan Blanco 567g WON 99
8          100  Super Pan Bco Ajonjoli 680g SP WON 100
9          106      Wonder 100pct mediano 475g WON 106

In [138]:
data.shape

(2592, 2)

In [139]:
data = pd.read_csv('G:\Data\grupo-bimbo-inventory-demand\producto_tabla\producto_tabla.csv',names=['Product ID','Number Product']) # reanme column names

In [140]:
data.head(10)

    Product ID                          Number Product
0  Producto_ID                          NombreProducto
1            0                       NO IDENTIFICADO 0
2            9               Capuccino Moka 750g NES 9
3           41  Bimbollos Ext sAjonjoli 6p 480g BIM 41
4           53          Burritos Sincro 170g CU LON 53
5           72     Div Tira Mini Doradita 4p 45g TR 72
6           73       Pan Multigrano Linaza 540g BIM 73
7           98            Tostado Integral 180g WON 98
8           99                  Pan Blanco 567g WON 99
9          100  Super Pan Bco Ajonjoli 680g SP WON 100

In [141]:
data = pd.read_csv('G:\Data\grupo-bimbo-inventory-demand\producto_tabla\producto_tabla.csv',sep=',')

In [142]:
data.head()

   Producto_ID                          NombreProducto
0            0                       NO IDENTIFICADO 0
1            9               Capuccino Moka 750g NES 9
2           41  Bimbollos Ext sAjonjoli 6p 480g BIM 41
3           53          Burritos Sincro 170g CU LON 53
4           72     Div Tira Mini Doradita 4p 45g TR 72

In [143]:
data.index

RangeIndex(start=0, stop=2592, step=1)

In [144]:
data.columns.name = 'Columns'

In [145]:
data.columns.name

'Columns'

In [146]:
data.isnull().sum() # its means there is no null value in our data

Columns
Producto_ID       0
NombreProducto    0
dtype: int64

In [147]:
data = pd.read_csv('G:\Data\grupo-bimbo-inventory-demand\producto_tabla\producto_tabla.csv',skiprows=2500)

In [148]:
data.shape

(92, 2)

In [170]:
data.head()

   Producto_ID                          NombreProducto
0            0                       NO IDENTIFICADO 0
1            9               Capuccino Moka 750g NES 9
2           41  Bimbollos Ext sAjonjoli 6p 480g BIM 41
3           53          Burritos Sincro 170g CU LON 53
4           72     Div Tira Mini Doradita 4p 45g TR 72

In [150]:
pd.options.display.max_rows = 10000

In [151]:
data = pd.read_csv('G:\Data\grupo-bimbo-inventory-demand\producto_tabla\producto_tabla.csv')

In [152]:
data.head(10)

   Producto_ID                          NombreProducto
0            0                       NO IDENTIFICADO 0
1            9               Capuccino Moka 750g NES 9
2           41  Bimbollos Ext sAjonjoli 6p 480g BIM 41
3           53          Burritos Sincro 170g CU LON 53
4           72     Div Tira Mini Doradita 4p 45g TR 72
5           73       Pan Multigrano Linaza 540g BIM 73
6           98            Tostado Integral 180g WON 98
7           99                  Pan Blanco 567g WON 99
8          100  Super Pan Bco Ajonjoli 680g SP WON 100
9          106      Wonder 100pct mediano 475g WON 106

### Writing Data To Text Format

In [153]:
data = pd.read_csv('G:\Data\grupo-bimbo-inventory-demand\producto_tabla\producto_tabla.csv')

In [154]:
data.to_csv("G:\\Data\\grupo-bimbo-inventory-demand\\producto_tabla\\new_producto_tabla.csv") # created new csv file

In [155]:
date = pd.date_range('1/1/2020',periods=10)

In [156]:
date

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [157]:
date = pd.date_range('1/1/2020',periods=10,freq='M')

In [158]:
date

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-31'],
              dtype='datetime64[ns]', freq='M')

### JSON Data

- javascript object notation

In [159]:
import json # impoted jason

In [160]:
obj = """
{"name":"wes",
"places_lived":["united state","spain","germany"],
"pet":null,
"siblings":[{"name":"scott","age":30,"pets":["zeus","zuko"]},
{"name":"katie","age":38,
"pets":["sixes","stache","cisco"]}]
}
"""

# obj2= """{"array": [1,2,3],"boolean": true,"color": "gold","null": null,"number": 123, "object": { "a": "b","c": "d" }, "string": "Hello World"}}"""

In [161]:
result = json.loads(obj)

In [162]:
result

{'name': 'wes',
 'places_lived': ['united state', 'spain', 'germany'],
 'pet': None,
 'siblings': [{'name': 'scott', 'age': 30, 'pets': ['zeus', 'zuko']},
  {'name': 'katie', 'age': 38, 'pets': ['sixes', 'stache', 'cisco']}]}

In [163]:
# Convert JSON data to Dataframe
siblilings = pd.DataFrame(result['siblings'],columns=['name','age'])

In [164]:
siblilings

    name  age
0  scott   30
1  katie   38

In [165]:
tables = pd.read_html("https://www.fdic.gov/bank/individual/failed/banklist.html")

In [166]:
len(tables)

1

In [167]:
failures = tables[0]

In [168]:
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date
0,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020"
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb","October 16, 2020"
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020"
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020"
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019"

In [169]:
tables = pd.read_html("https://uok.edu.pk/faculties/computerscience/msphd.php")

In [171]:
failures = tables[0]

In [172]:
failures

,0,1,2
0,NaN,Semester-I,NaN
1,Course Number,Course Title,Credit Hours
2,MSCS-701,Theory of Computation and Logic,3+0
3,MSCS-703,Advanced Database Systems (ADS),2+1
4,MSCS-705,Parallel Computing : Hardware Systems (Optional),2+1
5,MSCS-707,Machine Learning Systems (Optional),2+1
6,MSCS-709,Topics in Computer Graphics and Image Analysis...,2+1
7,MSCS-711,Applied Software Project Management (Optional),2+1
8,MSCS-713,Thesis (Optional),3

In [173]:
tables[1]

,0,1,2
0,NaN,Semester-II,NaN
1,Course Number,Course Title,Credit Hours
2,MSCS-702,Advanced Algorithmic Design and Analysis,2+1
3,MSCS-704,Advanced Data Communication and Networks,2+1
4,MSCS-706,Parallel Computing : Software (Optional),2+1
5,MSCS-708,Topics in Software Engineering : Formal Method...,2+1
6,MSCS-710,Bayesian Networks and AI (Optional),2+1
7,MSCS-712,Data Mining (Optional),2+1
8,MSCS-714,Thesis (Optional),3
9,MSCS-716,Advanced Topics in AI (Optional),2+1
10,MSCS-718,Most Recent Trends and Developments in Softwar...,3

In [174]:
from lxml import objectify

In [175]:
# path = "https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/banklist.xml"
# parsed = objectify.parse(open(path))

In [203]:
xlsx1 = pd.read_excel('G:\\SPEED SUMMARY.xlsx')

In [206]:
xlsx1.head(5)

,Tag Number,Electronic ID,NLIS,Breeder PIC,Breeder Property,Date,Live Weight (kg),Dentition,Vendor,Sex,Pen,Status,Confirmation,Truck No,Exit Date
0,SPD691B,942 000035285607,QFCX0257ZEQ00255,QFCX0257,Feedlot Replacement Tag,2020-07-20 12:06:00,0.0,4.0,Redrock Cattle Co,Steer,17 & 18,Slaughtered,942 000035285607,1st truck,2020-10-27
1,SPD902,942 000035284901,QFCX0257ZEQ00206,QFCX0257,Feedlot Replacement Tag,2020-07-20 15:44:00,345.0,2.0,Redrock Cattle Co,Heifer,16,Slaughtered,942 000035284901,1st only truck,2020-10-29
2,SPD858,942 000030134997,TKBT0166ZBP29932,TKBT0166,Tobermorey Station,2020-07-20 15:20:00,359.0,4.0,Redrock Cattle Co,Heifer,16,Slaughtered,942 000030134997,1st only truck,2020-10-29
3,SPD812,982 123708965986,QCBM0234XBP02958,QCBM0234,Mazzer Lawrence Kevin,2020-07-20 14:54:00,362.0,4.0,M I Speed,Steer,20,Slaughtered,982 123708965986,2nd truck,2020-10-28
4,SPD897,942 000030205790,TKBT0166ZBP30548,TKBT0166,Tobermorey Station,2020-07-20 15:41:00,367.0,2.0,Redrock Cattle Co,Heifer,16,Slaughtered,942 000030205790,1st only truck,2020-10-29

In [207]:
xlsx2 = pd.read_excel('G:\\SPEED SUMMARY.xlsx','KillData 281020')

In [208]:
xlsx2.head()

,KillDate,BodyNo,ElectronicID,Sex,Dentition,P8 Fat,Butt,Meat Colour,Fat Colour,Osc,Hot Weight Left,Grading Left Side,$/kg Left Side,Hot Weight Right,Grading Right Side,$/kg Right Side,Total Hot Weight,Total Value
0,28/10/2020,1,982 123543620430,M,2,20,C,2,0.0,0.0,204.5,GD,6.70,200.5,GD,6.70,405.0,2713.5
1,28/10/2020,2,942 000022079992,M,2,22,C,1B,0.0,0.0,209.5,GD,6.70,204.5,GD,6.70,414.0,2773.8
2,28/10/2020,3,942 000030205333,M,6,14,C,1C,0.0,0.0,180.0,GG,6.60,180.0,GG,6.60,360.0,2376.0
3,28/10/2020,4,982 123517203518,M,6,10,C,2,0.0,0.0,192.0,GG,6.60,191.0,GG,6.60,383.0,2527.8
4,28/10/2020,5,942 000026115240,M,2,30,C,1C,0.0,0.0,193.0,GE,6.65,189.0,GE,6.65,382.0,2540.3

In [225]:
pd.options.display.max_rows

10000

In [228]:
marge = pd.concat([xlsx1,xlsx2],axis=1).head(6)

In [229]:
marge.to_excel('G:\\text.xlsx')

In [238]:
    import requests

In [239]:
url = "https://urdu.geo.tv/latest/234714-"

In [240]:
resp = requests.get(url)

In [241]:
resp