Reading And Writing Data in Text Format (link with Google Colab)
[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/googlecolab/colabtools/blob/master/notebooks/colab-github-demo.ipynb)

In [1]:
import pandas as pd
import numpy as np

In [2]:
# !cat   /content/sample_data/california_housing_test.csv

In [3]:
# pd.read_csv("/content/sample_data/california_housing_test.csv").head(3)

In [5]:
# pd.read_csv("/content/sample_data/california_housing_test.csv",header= None) # by default it's none

In [6]:
data = pd.read_csv('G:\Data\grupo-bimbo-inventory-demand\producto_tabla\producto_tabla.csv')

In [7]:
data.head(10)

   Producto_ID                          NombreProducto
0            0                       NO IDENTIFICADO 0
1            9               Capuccino Moka 750g NES 9
2           41  Bimbollos Ext sAjonjoli 6p 480g BIM 41
3           53          Burritos Sincro 170g CU LON 53
4           72     Div Tira Mini Doradita 4p 45g TR 72
5           73       Pan Multigrano Linaza 540g BIM 73
6           98            Tostado Integral 180g WON 98
7           99                  Pan Blanco 567g WON 99
8          100  Super Pan Bco Ajonjoli 680g SP WON 100
9          106      Wonder 100pct mediano 475g WON 106

In [8]:
data.shape

(2592, 2)

In [11]:
data = pd.read_csv('G:\Data\grupo-bimbo-inventory-demand\producto_tabla\producto_tabla.csv',names=['Product ID','Number Product']) # reanme column names

In [13]:
data.head(10)

    Product ID                          Number Product
0  Producto_ID                          NombreProducto
1            0                       NO IDENTIFICADO 0
2            9               Capuccino Moka 750g NES 9
3           41  Bimbollos Ext sAjonjoli 6p 480g BIM 41
4           53          Burritos Sincro 170g CU LON 53
5           72     Div Tira Mini Doradita 4p 45g TR 72
6           73       Pan Multigrano Linaza 540g BIM 73
7           98            Tostado Integral 180g WON 98
8           99                  Pan Blanco 567g WON 99
9          100  Super Pan Bco Ajonjoli 680g SP WON 100