Reading And Writing Data in Text Format (link with Google Colab)
[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/googlecolab/colabtools/blob/master/notebooks/colab-github-demo.ipynb)

In [1]:
import pandas as pd
import numpy as np

In [2]:
# !cat   /content/sample_data/california_housing_test.csv

In [3]:
# pd.read_csv("/content/sample_data/california_housing_test.csv").head(3)

In [4]:
# pd.read_csv("/content/sample_data/california_housing_test.csv",header= None) # by default it's none

In [5]:
data = pd.read_csv('G:\Data\grupo-bimbo-inventory-demand\producto_tabla\producto_tabla.csv')

In [6]:
data.head(10)

   Producto_ID                          NombreProducto
0            0                       NO IDENTIFICADO 0
1            9               Capuccino Moka 750g NES 9
2           41  Bimbollos Ext sAjonjoli 6p 480g BIM 41
3           53          Burritos Sincro 170g CU LON 53
4           72     Div Tira Mini Doradita 4p 45g TR 72
5           73       Pan Multigrano Linaza 540g BIM 73
6           98            Tostado Integral 180g WON 98
7           99                  Pan Blanco 567g WON 99
8          100  Super Pan Bco Ajonjoli 680g SP WON 100
9          106      Wonder 100pct mediano 475g WON 106

In [7]:
data.shape

(2592, 2)

In [8]:
data = pd.read_csv('G:\Data\grupo-bimbo-inventory-demand\producto_tabla\producto_tabla.csv',names=['Product ID','Number Product']) # reanme column names

In [9]:
data.head(10)

    Product ID                          Number Product
0  Producto_ID                          NombreProducto
1            0                       NO IDENTIFICADO 0
2            9               Capuccino Moka 750g NES 9
3           41  Bimbollos Ext sAjonjoli 6p 480g BIM 41
4           53          Burritos Sincro 170g CU LON 53
5           72     Div Tira Mini Doradita 4p 45g TR 72
6           73       Pan Multigrano Linaza 540g BIM 73
7           98            Tostado Integral 180g WON 98
8           99                  Pan Blanco 567g WON 99
9          100  Super Pan Bco Ajonjoli 680g SP WON 100

In [10]:
data = pd.read_csv('G:\Data\grupo-bimbo-inventory-demand\producto_tabla\producto_tabla.csv',sep=',')

In [11]:
data.head()

   Producto_ID                          NombreProducto
0            0                       NO IDENTIFICADO 0
1            9               Capuccino Moka 750g NES 9
2           41  Bimbollos Ext sAjonjoli 6p 480g BIM 41
3           53          Burritos Sincro 170g CU LON 53
4           72     Div Tira Mini Doradita 4p 45g TR 72

In [12]:
data.index

RangeIndex(start=0, stop=2592, step=1)

In [13]:
data.columns.name = 'Columns'

In [14]:
data.columns.name

'Columns'

In [15]:
data.isnull().sum() # its means there is no null value in our data

Columns
Producto_ID       0
NombreProducto    0
dtype: int64

In [16]:
data = pd.read_csv('G:\Data\grupo-bimbo-inventory-demand\producto_tabla\producto_tabla.csv',skiprows=2500)

In [17]:
data.shape

(92, 2)

In [18]:
data

    48417                   Bran Frut Fresa 48g BIM 48417
0   48419          Bran Frut Manzana Canela 48g BIM 48419
1   48421                    Bran Frut Pina 48g BIM 48421
2   48440           Principe Chocolate 9p 42 5g MLA 48440
3   48551                  Tortilla 558g 20p MTB DH 48551
4   48557   Bimbollos Parrilleros 12p 1170g MTA BIM 48557
..    ...                                             ...
87  49992             Tostado Integral 180g MTA WON 49992
88  49993             Tostado Integral 180g TAB WON 49993
89  49994      Tostado Int 0pct Grasa Azuc 200g WON 49994
90  49996  Tostado Int 0pct Grasa Azuc 200g MTA WON 49996
91  49997  Tostado Int 0pct Grasa Azuc 200g TAB WON 49997

[92 rows x 2 columns]

In [19]:
pd.options.display.max_rows = 10000

In [20]:
data = pd.read_csv('G:\Data\grupo-bimbo-inventory-demand\producto_tabla\producto_tabla.csv')

In [21]:
data.head(10)

   Producto_ID                          NombreProducto
0            0                       NO IDENTIFICADO 0
1            9               Capuccino Moka 750g NES 9
2           41  Bimbollos Ext sAjonjoli 6p 480g BIM 41
3           53          Burritos Sincro 170g CU LON 53
4           72     Div Tira Mini Doradita 4p 45g TR 72
5           73       Pan Multigrano Linaza 540g BIM 73
6           98            Tostado Integral 180g WON 98
7           99                  Pan Blanco 567g WON 99
8          100  Super Pan Bco Ajonjoli 680g SP WON 100
9          106      Wonder 100pct mediano 475g WON 106

### Writing Data To Text Format

In [22]:
data = pd.read_csv('G:\Data\grupo-bimbo-inventory-demand\producto_tabla\producto_tabla.csv')

In [23]:
data.to_csv("G:\\Data\\grupo-bimbo-inventory-demand\\producto_tabla\\new_producto_tabla.csv") # created new csv file

In [24]:
date = pd.date_range('1/1/2020',periods=10)

In [25]:
date

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [26]:
date = pd.date_range('1/1/2020',periods=10,freq='M')

In [27]:
date

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-31'],
              dtype='datetime64[ns]', freq='M')

### JSON Data

- javascript object notation

In [58]:
import json # impoted jason

In [92]:
obj = """
{"name":"wes",
"places_lived":["united state","spain","germany"],
"pet":null,
"siblings":[{"name":"scott","age":30,"pets":["zeus","zuko"]},
{"name":"katie","age":38,
"pets":["sixes","stache","cisco"]}]
}
"""

# obj2= """{"array": [1,2,3],"boolean": true,"color": "gold","null": null,"number": 123, "object": { "a": "b","c": "d" }, "string": "Hello World"}}"""

In [93]:
result = json.loads(obj)

In [94]:
result

{'name': 'wes',
 'places_lived': ['united state', 'spain', 'germany'],
 'pet': None,
 'siblings': [{'name': 'scott', 'age': 30, 'pets': ['zeus', 'zuko']},
  {'name': 'katie', 'age': 38, 'pets': ['sixes', 'stache', 'cisco']}]}